/* Fonts */
@font-face {
  font-family: "Futura BK BT Book";
  src: url("/assets/fonts/futura_bk_bt_book.ttf") format("truetype");
}
/* Colors */
:root {
  --color_basic__light: #ffffff;
  --color_basic__dark: #403f43;
  --color_secondary: #e6e6e9;
  --color_secondary__lighten: #edeeef;
  --color_secondary__darken: #dbdbdf;
  --color_accent: #ff0000;
}

/* Other styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--color_basic__dark);
}
body {
  font-size: 16px;
  line-height: 1.5;
  user-select: none;
}
h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/* LOGOTYPE */

.logo {
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 300px;
  padding: 0;
  margin: 2rem auto 1rem;
}
.logo h1 {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.logo_line {
  display: block;
  height: 1px;
  background-color: var(--color_basic__dark);
}
.logo_description {
  font-family: "Futura BK BT Book";
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

/* NAVBAR */
.navbar {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .navbar{
    grid-template-columns: repeat(2, auto);
  }
}
.navbar_item {
  letter-spacing: 1.4px;
  text-transform: uppercase;
  position: relative;
}
.navbar_item a {
  display: block;
  padding: 20px;
}

/* TODO change .menuItem:after logic */

/* Navbar  */
.navbar_item:after {
  content: "";
  height: 1px;
  width: 0%;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--color_basic__dark);
}
/* .menuItem:hover:after{
  width: 0%;
} */
.navbar_item__active:after,
.navbar_item:active:after {
  width: 75%;
}
/* TODO: customize preloader */
.preloader {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 54, 54, 0);
  transition: background-color 0.3s;
}
.preloader_active {
  background-color: rgba(27, 27, 27, 0.3);
}

/* Gallery  */
/* TODO: create cool gallery */
#gallery {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 968px) {
  #gallery{
    padding: 20px;
    grid-template-columns: 1fr;
  }
}
.gallery-photo {
  position: relative;
}
.gallery-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-photo_overlay {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .6s;
  background-color: var(--color_basic__dark);
  color: var(--color_basic__light);
}
.gallery-photo_overlay:hover {
  opacity: 0.8;
}
.gallery-photo_overlay p{
  padding: 8px;
}
footer{
  padding: 2.5rem 0 2rem;
}
.social_buttons{
width: 100%;
display: flex;
justify-content: center;
}
.social_buttons a{
  font-size: 1.6rem;
  padding: 15px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  transition: text-shadow .1s;
}
.social_buttons a:hover{
  text-shadow: 0 0 0 var(--color_basic__dark);
}